<h1>Shopping List-1 Page</h1>

<h5>Name: </h5>
<p>Wahyu Aji Aruma Sekar Puri</p> <!-- Ubahlah sesuai dengan nama kamu -->
<h5>Class: </h5>
<p>PBP B</p> <!-- Ubahlah sesuai dengan kelas kamu -->
<h5>Student ID: </h5>
<p>2206816115</p>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <th>Amount</th>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <th>Variant</th>
        </tr>
    </thead>
    <tbody>
    </tbody>




